* {
  padding: 0;
  margin: 0;
}
body {
  line-height: 1.5;
  padding: 20px;
  font-size: 62.5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f1e4e8;
}
nav {
  margin-bottom: 10px;
}
h1 {
  font-family: "Courier New", Courier, monospace;
  justify-content: center;
  text-align: center;
}
#carouselCaptions img {
  height: 500px;
}

#carouselCaptions p,
#carouselCaptions h5 {
  background-color: none;
}
#carouselWrapper {
  background-color: white;
  padding: 10px;
}
h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-decoration: underline;
}
#cardContainer img {
  height: 500px;
}
main {
  background: url(./images/angel_statue_hand.jpg) no-repeat fixed center;
  padding: 25%;
  border: white solid 10px;
  margin-bottom: 10px;
  background-size: cover;
}
main div {
  justify-self: center;
  text-align: center;
  align-items: center;
  color: white;
  background-color: rgba(212, 144, 218, 0.6);
}

.card:hover img {
  opacity: 0.3;
}
.card:hover {
  box-shadow: 5px 5px;
}
.card:hover .iCart {
  cursor: pointer;
  opacity: 1;
  transition: ease-in-out 0.6s all;
}
.card:hover .iCheck {
  cursor: pointer;
  opacity: 1;
  color: green;
}
.card:hover .minus {
  transform: translateY(-20px);
  opacity: 1;
}
.buttons {
  display: flex;
  justify-content: center;
  text-align: center;
  align-self: center;
}
.buttons .bOut,
.bIn,
.bAll {
  transition: linear 0.4s ease-in-out;
  color: plum;
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
}
.bOut:hover,
.bIn:hover,
.bAll:hover {
  color: white;
  background-color: plum;
  transition: all 0.2s ease-in-out;
}
input {
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  margin: 20px;
}

.col {
  position: relative;
}
.col .iCart {
  opacity: 0;
  position: absolute;
  top: 40%;
  height: 100%;
  width: 100%;
  color: black;
  align-items: center;
  text-align: center;
  font-size: 2rem;
}
.col .iCheck {
  z-index: -2;
  opacity: 0;
  position: absolute;
  top: 40%;
  height: 100%;
  width: 100%;
  color: black;
  align-items: center;
  text-align: center;
  font-size: 2rem;
}
/* .col .minus {
  z-index: -2;
  opacity: 0;
  position: absolute;
  top: 80%;
  height: 100%;
  width: 100%;
  color: black;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  transform: translateY(-30rem);
} */
.cartContainer {
  display: grid;
  position: absolute;
  transform: translateY(300%);
  width: 100%;
  height: 10%;
}
